{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Community creation</h1>

    <div class="squared">
        <form action="{{ oneup_uploader_endpoint('avatar') }}" class="dropzone" id="my-awesome-dropzone">
            <div class="dz-message message_dz"><h1>Drop</h1> file here to upload new avatar</div>
            <div class="fallback">
                <input name="file" type="file"/>
            </div>
        </form>
    </div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('community') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
