{% extends "::front.html.twig" %}
    {% block heading_profile %}
        {{ entity.name}}
    {% endblock heading_profile %}
    {% block profile%}
        <div class="row">
            <aside class="col-md-2" style="background-color: indianred; height: 200px;">
            </aside>
            <section class="col-md-10" >
                <ul class="list">
                    <li class="list-item">{{ entity.description}}</li>
                    <li class="list-item">{{ entity.owner}}</li>
                </ul>
            </section>
        </div>
    {% endblock profile %}
    {% block heading_wall %}
        <h1>My blog</h1>
    {% endblock heading_wall %}
