{% extends '::front.html.twig' %}

{% block profile -%}
    <h1>Community edit</h1>

    <div class="squared">
        <form action="{{ oneup_uploader_endpoint('avatar') }}" class="dropzone" id="my-awesome-dropzone">
            <div class="dz-message message_dz"><h1>Drop</h1> file here to upload new avatar</div>
            <div class="fallback">
                <input name="file" type="file"/>
            </div>
        </form>
    </div>

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('community_profile',{'id':entity.id}) }}">
            Back to the community
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
