{% for user in conversations %}
    <li class="border-bottom  bg-primary">
        <div class="media innerAll">
            <div class="media-object pull-left hidden-phone">
                <a href="{{ path('message_conversation',{'id':user.id}) }}">
                    <img src="{{ user.avatar }}" width="50" alt="Image" />
                </a>
            </div>
            <div class="media-body">
                <div><span class="strong">{{ user }}</span> <small class="text-italic pull-right label label-default">2 days</small></div>
                <div>{{ user.incomingMessages[0].body }}</div>
            </div>
        </div>
    </li>
{% endfor %}