<ul class="dropdown-menu chat media-list">

    {% for message in lastMessages %}
        <li class="media">
            <a class="pull-left" href="#"><img class="media-object thumb" src="{{ message.fromUser.avatar }}" alt="50x50" width="50"/></a>
            <div class="media-body">
                <span class="label label-default pull-right">5 min</span>
                <h5 class="media-heading">{{ message.fromUser }}</h5>
                <p class="margin-none">{{ message.body | raw }}</p>
            </div>
        </li>
    {% endfor %}

</ul>