{% block recent_news %}
    <div class="widget">
    <h5 class="innerAll margin-none border-bottom bg-gray">Sparrow News </h5>

    <div class="widget-body padding-none">
    {% if articles != null %}
        {% for article in articles|slice(0, 10)  %}
            <div class="modal fade" id="modalNews" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <h4 class="modal-title" id="myModalLabel">{{ article.title | raw }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ article.text | raw }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>


                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">

                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half"></a>
                            <h5 class="margin-none"><a href="" data-target="#modalNews" data-toggle="modal"
                                                       class="text-inverse">{{ article.title }}</a></h5>
                            <small>on {{ article.createdAt |date }} </small>
                        </div>
                    </div>


        {% endfor %}
    {% else %}
        <div class="media border-bottom innerAll margin-none">
            <h5 class="margin-none"><a href="" class="text-inverse">nothing to show yet...</a></h5>
        </div>
    {% endif %}
        </div>
    </div>
{% endblock recent_news %}
