{% extends "::front.html.twig" %}

{% block profile -%}
    <h1>Admin Page</h1>

    <table class="record_properties table table-striped table-bordered table-hover">
        <tbody>
        <tr>
            <td><a href="{{ path('user') }}">User settings</a></td>
        </tr>
        <tr>
            <td><a href="{{ path('community') }}">Communities settings</a></td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('user_login') }}">Back</a>
{% endblock profile %}
