{% extends "::front.html.twig" %}
{% import '_helpers.html.twig' as helpers %}
    {% block heading_wall %}
        <h1>My friends</h1>
        {% block friends %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#my_friends" role="tab" data-toggle="tab">My friends</a></li>
                <li><a href="#all" role="tab" data-toggle="tab">All people</a></li>
                <li><a href="#invites" role="tab" data-toggle="tab">Invites</a></li>
                <li><a href="#requests" role="tab" data-toggle="tab">Requests</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="my_friends">
                    {% for friend in my_friends %}
                        {{ helpers.user(friend) }}
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                No friends yet. You can try to search someone
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tab-pane" id="all">
                    {% for friend in all_people %}
                        {{ helpers.user(friend) }}
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                No users exist yet. You are the first one!
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endblock friends %}
    {% endblock heading_wall %}
{% block body %}
    {{ parent() }}
{% endblock body %}
