{% block requests %}
    <ul>
        {% for man in requests %}
            <div class="panel panel-danger communities_panel">
                <div class="panel-heading">
                    <li class="communities_list"><a href="{{ path('user_profile',{'id':man.getid}) }}"> Name: {{ man.getfirstname }}</a></li>
                </div>
                <div class="panel-body"><li class="communities_list">{{ man.getdepartment }}</li></div>
            </div>
        {% endfor %}
    </ul>
{% endblock requests %}