{% extends '::front.html.twig' %}
{% block profile -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_profile', { 'id': entity.id }) }}">
                Back
            </a>
        </li>
    </ul>
{% endblock profile %}
