.avatar{
    width: 200px;
    height: 200px;
}
.avatar_mini{
    width: 40px;
    height: 40px;
}
.drop_avatar{
    width: 200px;
    height: 200px;
    background-color: lightgrey;
}
.createdAt{
    text-align: right;
    float: right;
    margin-right: 5%;
}
.wall_head{
height: 50px;
background-color: lightgrey;
}
.profile_head{
height: 30px;
background-color: lightgrey;
}
.profile{
width: 90%;
}
.messages_list{
    list-style-type: none;
}
.messages_panel{
    width:90%;
}
.communities_list{
    list-style-type: none;
}
.communities_panel{
    width:90%;
}
.communities_panel a{
    text-decoration: none;
}
.reply a{
    text-decoration: none;
}
.messages_list, .createdAt{
    display: inline-block;
}